@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

$font: "Poppins", sans-serif;
$size: 1rem;

@mixin font {
  font-family: $font;
  font-size: $size;
}

$breakpoints: (
    "xs": 0,
    "sm": 576px,
    "md": 768px,
    "lg": 992px,
    "xl": 1200px,
    "xxl": 1400px,
);

$xs-breakpoint: map-get($breakpoints, "xs");
$sm-breakpoint: map-get($breakpoints, "sm");
$md-breakpoint: map-get($breakpoints, "md");
$lg-breakpoint: map-get($breakpoints, "lg");
$xl-breakpoint: map-get($breakpoints, "xl");
$xxl-breakpoint: map-get($breakpoints, "xxl");

$red: hsl(357, 79%, 47%);
$white: hsl(0, 0%, 100%);
$dark-gray: hsl(0, 0%, 20%);
$dark-gray-tp: hsl(0deg 0% 20% / 74%);
$light-gray: hsl(0, 0%, 80%);
$very-light-gray: hsl(0, 0%, 97%);
$h-gray: hsl(0, 0%, 94%);
$blue: hsl(220, 70%, 50%);
$light-blue: hsl(220, 80%, 70%);
$gold: hsl(45, 85%, 60%);
$overlay: rgba(0, 0, 0, 0.5);